GeoSearch/Service References/OtherQueryFunctionsServiceReference/OtherQueryFunctionsService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="cisc.gmu.edu/OtherQueryFunctionsService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="cisc.gmu.edu/OtherQueryFunctionsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="cisc.gmu.edu/OtherQueryFunctionsService/Imports">
      <xsd:import schemaLocation="http://localhost:57278/OtherQueryFunctionsService.svc?xsd=xsd0" namespace="cisc.gmu.edu/OtherQueryFunctionsService" />
      <xsd:import schemaLocation="http://localhost:57278/OtherQueryFunctionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57278/OtherQueryFunctionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeoSearch.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OtherQueryFunctionsService_getRecordDetailMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecordDetailMetadata" />
  </wsdl:message>
  <wsdl:message name="OtherQueryFunctionsService_getRecordDetailMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecordDetailMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="OtherQueryFunctionsService_getAllLayerNamesOfWMS_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllLayerNamesOfWMS" />
  </wsdl:message>
  <wsdl:message name="OtherQueryFunctionsService_getAllLayerNamesOfWMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllLayerNamesOfWMSResponse" />
  </wsdl:message>
  <wsdl:message name="OtherQueryFunctionsService_getHierachicalLayersOfWMS_InputMessage">
    <wsdl:part name="parameters" element="tns:getHierachicalLayersOfWMS" />
  </wsdl:message>
  <wsdl:message name="OtherQueryFunctionsService_getHierachicalLayersOfWMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHierachicalLayersOfWMSResponse" />
  </wsdl:message>
  <wsdl:portType name="OtherQueryFunctionsService">
    <wsdl:operation name="getRecordDetailMetadata">
      <wsdl:input wsaw:Action="cisc.gmu.edu/OtherQueryFunctionsService/OtherQueryFunctionsService/getRecordDetailMetadata" message="tns:OtherQueryFunctionsService_getRecordDetailMetadata_InputMessage" />
      <wsdl:output wsaw:Action="cisc.gmu.edu/OtherQueryFunctionsService/OtherQueryFunctionsService/getRecordDetailMetadataResponse" message="tns:OtherQueryFunctionsService_getRecordDetailMetadata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllLayerNamesOfWMS">
      <wsdl:input wsaw:Action="cisc.gmu.edu/OtherQueryFunctionsService/OtherQueryFunctionsService/getAllLayerNamesOfWMS" message="tns:OtherQueryFunctionsService_getAllLayerNamesOfWMS_InputMessage" />
      <wsdl:output wsaw:Action="cisc.gmu.edu/OtherQueryFunctionsService/OtherQueryFunctionsService/getAllLayerNamesOfWMSResponse" message="tns:OtherQueryFunctionsService_getAllLayerNamesOfWMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHierachicalLayersOfWMS">
      <wsdl:input wsaw:Action="cisc.gmu.edu/OtherQueryFunctionsService/OtherQueryFunctionsService/getHierachicalLayersOfWMS" message="tns:OtherQueryFunctionsService_getHierachicalLayersOfWMS_InputMessage" />
      <wsdl:output wsaw:Action="cisc.gmu.edu/OtherQueryFunctionsService/OtherQueryFunctionsService/getHierachicalLayersOfWMSResponse" message="tns:OtherQueryFunctionsService_getHierachicalLayersOfWMS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>