GeoSearch/Service References/CSWQueryServiceReference/CSWQueryService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="cisc.gmu.edu/MetadataSearching" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="cisc.gmu.edu/MetadataSearching" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="cisc.gmu.edu/MetadataSearching/Imports">
      <xsd:import schemaLocation="http://localhost:57278/CSWQueryService.svc?xsd=xsd0" namespace="cisc.gmu.edu/MetadataSearching" />
      <xsd:import schemaLocation="http://localhost:57278/CSWQueryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57278/CSWQueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GeoSearch.Web" />
      <xsd:import schemaLocation="http://localhost:57278/CSWQueryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CSWQueryService_getRecords_BasicSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecords_BasicSearch" />
  </wsdl:message>
  <wsdl:message name="CSWQueryService_getRecords_BasicSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecords_BasicSearchResponse" />
  </wsdl:message>
  <wsdl:message name="CSWQueryService_getRecords_QuickSearchBySBA_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecords_QuickSearchBySBA" />
  </wsdl:message>
  <wsdl:message name="CSWQueryService_getRecords_QuickSearchBySBA_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecords_QuickSearchBySBAResponse" />
  </wsdl:message>
  <wsdl:message name="CSWQueryService_getRecords_AdvancedSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:getRecords_AdvancedSearch" />
  </wsdl:message>
  <wsdl:message name="CSWQueryService_getRecords_AdvancedSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRecords_AdvancedSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="CSWQueryService">
    <wsdl:operation name="getRecords_BasicSearch">
      <wsdl:input wsaw:Action="cisc.gmu.edu/MetadataSearching/CSWQueryService/getRecords_BasicSearch" message="tns:CSWQueryService_getRecords_BasicSearch_InputMessage" />
      <wsdl:output wsaw:Action="cisc.gmu.edu/MetadataSearching/CSWQueryService/getRecords_BasicSearchResponse" message="tns:CSWQueryService_getRecords_BasicSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecords_QuickSearchBySBA">
      <wsdl:input wsaw:Action="cisc.gmu.edu/MetadataSearching/CSWQueryService/getRecords_QuickSearchBySBA" message="tns:CSWQueryService_getRecords_QuickSearchBySBA_InputMessage" />
      <wsdl:output wsaw:Action="cisc.gmu.edu/MetadataSearching/CSWQueryService/getRecords_QuickSearchBySBAResponse" message="tns:CSWQueryService_getRecords_QuickSearchBySBA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRecords_AdvancedSearch">
      <wsdl:input wsaw:Action="cisc.gmu.edu/MetadataSearching/CSWQueryService/getRecords_AdvancedSearch" message="tns:CSWQueryService_getRecords_AdvancedSearch_InputMessage" />
      <wsdl:output wsaw:Action="cisc.gmu.edu/MetadataSearching/CSWQueryService/getRecords_AdvancedSearchResponse" message="tns:CSWQueryService_getRecords_AdvancedSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>