GeoSearch/Service References/StatisticsServiceReference/StatisticsService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="cisc.gmu.edu/StatisticsService" elementFormDefault="qualified" targetNamespace="cisc.gmu.edu/StatisticsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57278/StatisticsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:57278/StatisticsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GeoSearch.Web" />
  <xs:element name="getVisitIPAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVisitIPAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getVisitIPAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocationFromIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocationFromIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLocationFromIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIPFromDNS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIPFromDNSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIPFromDNSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServerInfoFromURLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="URLList" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServerInfoFromURLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GeoSearch.Web" minOccurs="0" name="getServerInfoFromURLSResult" nillable="true" type="q2:ArrayOfServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>